/* Estilos generales */

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0; 
}

.calculator {
    max-width: 500px;
    width: 100%; 
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"],
select,
button {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #1C6C8C;
}

#resultado {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


/* Responsive para dispositivos móviles */
@media (max-width: 768px) {
    .calculator {
        width: calc(100% - 20px); /* Resta el margen para evitar desbordamiento */
    }

    h1 {
        font-size: 1.5rem;
    }

    input[type="number"],
    select,
    button {
        font-size: 1rem;
    }
}

/* Responsive para tabletas */
@media (min-width: 769px) and (max-width: 1024px) {
    .calculator {
        width: calc(70% - 20px); /* Resta el margen para mantener la proporción */
    }

    h1 {
        font-size: 2rem;
    }

    input[type="number"],
    select,
    button {
        font-size: 1.2rem;
    }
}

/* Responsive para escritorio */
@media (min-width: 1025px) {
    .calculator {
        width: calc(50% - 20px); /* Resta el margen para mantener la proporción */
    }

    h1 {
        font-size: 2.5rem;
    }

    input[type="number"],
    select,
    button {
        font-size: 1.4rem;
    }
}